# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production
/dist
/.vscode

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode

# visual studio code
.history
*.log
functions/*
lambda/mock/index.js
.temp/**

# umi
.umi
.umi-production

# screenshot
screenshot
.firebase


HELP.md
*.class

# target 
target

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
target

# ignore eclipse files
.project
.classpath
.settings
.metadata

#../target/
#!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
#.classpath
.factorypath
#.project
#.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### logs ###
log
logs
*.log

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
# mvn clean install -Dmaven.test.skip=true -Dproguard.skip=true
# mvn clean package -Dmaven.test.skip=true -Dproguard.skip=true
# mvn clean package -Dmaven.test.skip=true -Dproguard.skip=true -P all
# mvn clean package -Dmaven.test.skip=true -Dproguard.skip=true -P operative
# mvn clean package -Dmaven.test.skip=true -Dproguard.skip=true -P system
### VS Code ###
.vscode/

###Others###
null
*.gz

.versionsBackup
